{% extends 'publicaciones/base.html' %}

{% block contenido %}
    <div class="container estilo-detalle">
        <div class="row estilo-imagen-titulo">
            <div class="col-md-4 align-self-center">
                {% if publicacion.imagen %}
                    <img src="{{ publicacion.imagen.url }}" alt="Imagen de la publicación" class="img-fluid img-detalle">
                {% endif %}
            </div>
            <div class="col-md-8 align-self-center">
                <h2 class="titulo_detalle">{{ publicacion.titulo }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="contenido-detalle">{{ publicacion.contenido }}</p>
                <p>Publicado por {{ publicacion.creador.username }} el {{ publicacion.fecha_publicacion }}</p>
                
                {% if user.is_authenticated and user == publicacion.creador %}
                    <a href="{% url 'pages:editar_publicacion' publicacion.pk %}" class="btn btn-primary">Editar</a>
                    <form method="POST" action="{% url 'pages:eliminar_publicacion' publicacion.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <a href="{% url 'perfil:ver_perfil' publicacion.creador.username %}" class="btn btn-secondary">Ver perfil del autor</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock contenido %}